header#header
    #header-left
        a#header-home-link.disable-link-anim(href='/') V
        a.disable-link-anim(href='/pricing') Pricing
        a.disable-link-anim(href='/docs') Docs
    #header-right
        a.disable-link-anim(href='/signin') Sign In
        a.disable-link-anim.button-wrapper(href='/purchase')
            button Get Started